.container {
  max-width: 1200px;
}

input {
  margin: 10px;
}

.page-header a{
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.tablesorter th {
  cursor: pointer;
}