.container {
  max-width: 1200px;
}

#chore-form .form-group div {
  padding: 10px;
}

.page-header a{
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.tablesorter th {
  cursor: pointer;
}

.chore-size {
  width: 40px;
}